[package]
name = "radical-native"
description = "Extending Riot Web with native capabilities"
authors = ["stoically <stoically@protonmail.com>"]
version = "0.1.0"
edition = "2018"
license = "MIT"

[dependencies]
anyhow = "1.0.28"
byteorder = "1.3.4"
dirs = "2.0.2"
serde = "1.0.106"
serde_json = "1.0.51"
seshat = { git = "https://github.com/matrix-org/seshat", rev = "b20acfb8d6ed96e160ccefd9276e4f3fec906535" }

[dev-dependencies]
tempfile = "3.1.0"

[package.metadata.deb]
depends = "libsqlcipher0"
assets = [
    ["target/release/radical-native", "/usr/bin/", "755"],
    ["assets/firefox/radical.native.json", "/usr/lib/mozilla/native-messaging-hosts/", "644"]
]